Source: lomiri-ui-extras
Section: x11
Priority: optional
Maintainer: UBports Developers <developers@ubports.com>
Build-Depends: cmake (>= 2.8.9),
               cmake-extras (>= 0.10),
               debhelper (>= 9),
               gettext,
               libcups2-dev,
               libexiv2-dev,
               pkg-config,
               python:any,
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               qml-module-qtquick2,
               qml-module-qttest,
               qml-module-lomiri-components,
               qml-module-lomiri-test,
               xvfb,
Standards-Version: 3.9.4
Homepage: https://github.com/ubports/ubuntu-ui-extras
X-Ubuntu-Use-Langpack: yes

Package: qtdeclarative5-lomiri-ui-extras0.2
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libqt5printsupport5,
         qml-module-qtqml-models2,
         qml-module-qtquick2,
         qml-module-lomiri-components,
         qml-module-qtquick-window2,
Provides: qtdeclarative5-lomiri-ui-extras0.1
Conflicts: qtdeclarative5-ubuntu-ui-extras0.2
Replaces: qtdeclarative5-ubuntu-ui-extras0.2
Description: Lomiri UI Extra Components
 A collection of UI components that for various reasons can't be included in
 the main Lomiri UI toolkit - mostly because of the level of quality, lack of
 documentation and/or lack of automated tests.
