#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@ --with translations --parallel --fail-missing
	
override_dh_translations:
	$(MAKE) -C obj-$(DEB_HOST_GNU_TYPE) ubuntu-ui-extras.pot
